body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.home-page header nav ul li,.home-page header nav ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.home-page header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 85%;
   margin: auto;
}
.home-page header .logo h1{
    font-weight: 900;
    letter-spacing: 3px;
    text-align: center;
}
.home-page header nav ul {
    display: flex;
    gap: 15px;
}
.home-page .container{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 10vh;
}
.home-page .container .photo img{
    width: 350px;
    border-radius: 50%;
}
.home-page .container .text{
    width: 50%;
}
/*about*/
.about .container{
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: auto 10vh;
}
.about .container .photo img{
    width:500px ;
    border-radius: 40px;
}
.about .container .text{
    width: 40%;
}
.about .container .text h1{
    font-size: xx-large;
}
/*Service*/
.service .ser{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: auto 10vh;
}
.service .ser .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
/*.service .ser .container .serv{
    width: 400px;
    height: 450px;
    border: 2px solid gray;
    border-radius: 30px;
}*/
.service .ser .title h1{
    font-weight: 900;
    font-size: xx-large;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.service .ser .container .serv {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.service .ser .container .serv .photo img{
    width: 200px;
    border-radius: 10px 10px 50% 50%;
    margin-top: 15px;
}
.info a{
    color: black;
    text-decoration: none;
}


.serv:hover {
    width: 400px;
    height: 450px;
    border: 2px solid gray;
    border-radius: 30px;
    box-shadow: inset 5px 5px 10px #bbb, inset -5px -5px 10px #fff;
}
.content{
    transform: translateY(-80px) scale(0);
    box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
    
}
.serv:hover .content {
    transform: translateY(0) scale(1);
}
.serv {
    transition: 0.8s;
    width: 200px;
    border-radius: 10px 10px 50% 50%;
}
  
/*Contact*/





/*.contact .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.resau{
    display: flex;
    position: relative;
}

.resau .site .icon i{
    font-size: 50px;
}
.info-user {
    color: #999;
    background-color: #eee;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
    transform: translateY(-80px) scale(0);
    transition: all 0.5s;
    position: absolute;
    left: 0;
}
.site{
    width: 50px;
    height: 50px;
}
.site:hover{
    width:50px;
    
    
}
.site .icon i:hover{
    background-image: url(profile.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
    opacity: 100;
}

.site:hover .info-user {
    transform: translateY(0) scale(1);
    width: 125px;
  }*/
  span{
    color: blue;
  }



  footer {
    background: #333;
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
}
.contact .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.resau{
    display: flex;
    position: relative;
}

.resau .site .icon i{
    font-size: 50px;
}
.resau .site .ds i{
    font-size: 42px;
}
.info-user {
    color: #999;
    background-color: #eee;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}
.info-user a{
    text-align: center;
    padding: 3px;
    text-decoration: none;
    color: #383848;
}
.info-user a:hover{
    color: white;
    background-color: blue;
    border-radius: 40px;
}
.site .a{
    transform: translate(-35px,-90px) scale(0);
}
.site .b{
    transform: translate(5px,-90px) scale(0);
}
.site .c{
    transform: translate(65px,-90px) scale(0);
}
.site{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.site:hover{
    width:50px;   
    
    
}
.site .icon i:hover{
    background-image: url(profile.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    
}

.site:hover .info-user {
    transform: translateY(5px) scale(1);
    width: 140px;
    
  }


.site .icon{
    position: relative;
}
.site .insta img,.fb img ,.ds img{
    position: absolute;
    width: 50px;
    height: 50px;
    visibility: hidden;
    border-radius: 5px;
}
.site:hover img{
    visibility: visible;
}
/*REs*/


@media screen and (max-width:768px) {
    .home-page header nav ul li,.home-page header nav ul li a{
        list-style: none;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
    }
    .home-page header{
       display: flex;
       align-items: center;
       justify-content: space-between;
       flex-wrap: wrap;
       width: 85%;
       margin: auto;
    }
    .home-page header .logo h1{
        font-weight: 900;
        letter-spacing: 3px;
        text-align: center;
    }
    .home-page header nav ul {
        display: flex;
        gap: 15px;
    }
    .home-page .container{
        height: 100vh;
        display: flex;
        align-items: center;
        margin:5vh 10vh 0vh 10vh;
        flex-direction: column;
    }
    .home-page .container .photo img{
        width: 350px;
        border-radius: 50%;
    }
    .home-page .container .text{
        width: 80%;
    }
    .about .container{
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        margin: auto 10vh;
    
    }
    .about .container .photo img{
        width:350px;
        border-radius: 40px;
    }
    .about .container .text{
        width: 80%;
        margin: 10vh 0;
    }
    .about .container .text h1{
        font-size: xx-large;
    }
    /*Service*/
.service .ser{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 30vh 10vh 60vh 10vh;
    
}
.service .ser .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
/*.service .ser .container .serv{
    width: 400px;
    height: 450px;
    border: 2px solid gray;
    border-radius: 30px;
}*/
.service .ser .title h1{
    font-weight: 900;
    font-size: xx-large;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.service .ser .container .serv {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.service .ser .container .serv .photo img{
    width: 200px;
    border-radius: 10px 10px 50% 50%;
    margin-top: 15px;
}
.info a{
    color: black;
    text-decoration: none;
}


.serv:hover {
    width: 350px;
    height: 450px;
    border: 2px solid gray;
    border-radius: 30px;
    box-shadow: inset 5px 5px 10px #bbb, inset -5px -5px 10px #fff;
}
.content{
    transform: translateY(-80px) scale(0);
    box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
    
}
.serv:hover .content {
    transform: translateY(0) scale(1);
}
.serv {
    transition: 0.8s;
    width: 200px;
    border-radius: 10px 10px 50% 50%;
}
.contact .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 45vh;
}
.resau{
    display: flex;
    position: relative;
}

.resau .site .icon i{
    font-size: 50px;
}
.resau .site .ds i{
    font-size: 42px;
}
.info-user {
    color: #999;
    background-color: #eee;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}
.info-user a{
    text-align: center;
    padding: 3px;
    text-decoration: none;
    color: #383848;
}
.info-user a:hover{
    color: white;
    background-color: blue;
    border-radius: 40px;
}
.site .a{
    transform: translate(-35px,-90px) scale(0);
}
.site .b{
    transform: translate(5px,-90px) scale(0);
}
.site .c{
    transform: translate(65px,-90px) scale(0);
}
.site{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.site:hover{
    width:50px;   
    
    
}
.site .icon i:hover{
    background-image: url(profile.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    
}

.site:hover .info-user {
    transform: translateY(5px) scale(1);
    width: 140px;
    
  }


.site .icon{
    position: relative;
}
.site .insta img,.fb img ,.ds img{
    position: absolute;
    width: 50px;
    height: 50px;
    visibility: hidden;
    border-radius: 5px;
}
.site:hover img{
    visibility: visible;
}
}